# Ignore application files containing sensitive information
/config/database.yml
/config/secrets.yml

# Ignore CTags index files
tags
.tags
.tags_sorted_by_file
.gemtags

# Ignore bundler config.
/.bundle

# Ignore the default SQLite database.
/db/*.sqlite3
/db/*.sqlite3-journal

# Ignore all logfiles and tempfiles.
/log/*.log
/tmp
.DS_Store
